body{
background: url('Falling World.png') no-repeat center center fixed;
}
#menue-item > li {
    display: inline-block;
}
#menue-item {
    overflow: hidden;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid rgba(143, 143, 143, 0.432) ;
    border-radius: 5px;
    background-color: #ffffff46;
    Height: 35px;
    max-width: 10000px;
    margin: none; 
    text-align: right;
    
}
.top-bar-text{
    position: relative;
    top: 0px;
    right: 0px;
}
.navbar{
    padding-bottom: 20px;
    padding-right: 130px;
    padding-left: 130px;
    padding-top: 11px;
    font-family:Quicksand; font-size: 15px;
    font-weight: 50px;
    background-color: rgba(255, 100, 11, 0.767);
    color: #ffffff;
    text-decoration: none;
    }
.navbar:hover {
    color: whitesmoke;
    background-color: rgba(255, 80, 11, 0.836);
    }
.floatingCard{
    margin-top: 30px;
    left: 0px;
    margin: none;
    width: 100%;
    background-color: #dddddda8;
    text-align: center;
    color: #ffffff;
    font-family:Quicksand; 
    padding-top: 50px;
    padding-bottom: 50px;
}
.floatingImg{
    top: 0px;
    object-fit: cover;
    height: 400px;
    background-color: #dddddda8;
    color: #ffffff;
    font-family:Quicksand; 
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}
.header{
    font-size: 40px;
}
.Banner{
    position: relative;
    width: 100%;
}